<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Insta Tag
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">

    <ion-slides pager="true">
      <ion-slide *ngFor="let im of imgs; let i = index;" style="position: relative;">
        
        <img [src]="im.img" (click)="imgClick($event, i)"/>
        
        <ng-container *ngIf="im.tags.length != 0">
          <ng-container *ngFor="let p of im.tags; let ti = index">

            <div style="position: absolute;"  [ngStyle]="{'top': (p.y+'px'), 'left': (p.x+'px')}">
              <ion-icon name="close" class="close-icon" (click)="removeTagbox(ti, i)"></ion-icon>
              <ion-input type="text" placeholder="Whats this?" class="input"></ion-input>
            </div>
              
           
          </ng-container>
            
        </ng-container>

      </ion-slide>
    
    </ion-slides>



  </div>

</ion-content>