ion-slides{
  padding-bottom:30px;
  ion-slide{
    .close-icon{
      position: absolute;
      color: #fff;
      left: 90px;
      top: -7px;
      background: #000;
      border-radius: 10px;
      z-index: 999;
    }

    .input{
      font-size: 12px;
      background-color: #00000094;
      width: 100px;
      color: #fff;
      text-align: left;
      border-radius: 10px;
    }

    .userList{
      background: #0000005e;
      color: #fff;
      text-align: left;
      padding: 5px;
      border-radius: 10px;
      font-size: 12px;
    }
  }
}