.container{
  max-width: 500px;
  margin: 0 auto;
}

ion-slides{
  ion-slide{
    img{
      height: 400px;
      object-fit: fill;
    } 

    .close-icon{
      position: absolute;
      color: #fff;
      right: 0;
      top: -7px;
      background: #000;
      border-radius: 10px;
      z-index: 999;
    }

    .input{
      font-size: 12px;
      background-color: #00000094;
      width: 100px;
      color: #fff;
      text-align: left;
      border-radius: 10px;
    }
  }
}